 <form action="/menu/searchmovie/search" method="POST" class="form-search">
      <a href="../searchmovie">&larr; Back to Menu</a></br>
      <input type="text" name="search" placeholder="Search for movies" >
      <input type="submit" value="Search">         
</form>