 <%- include('partials/header') %>
<h1>Welcome to Movies data site</h1>
<div class="container mt-5">
  <a href="/login" class="btn btn-lg btn-secondary">Login</a>
  <a href="/registration" class="btn btn-lg btn-primary">Registration</a>
</div>



