<%- include('partials/header') %>

<div class="container mt-5">
  <a href="/" class="btn btn-md btn-primary">Go Back</a>
  <h1>Register Your Account Here</h1>
  
  <form action="/registeruser" method="POST" autocomplete="off"> 
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" name="reg_username" placeholder="Enter Your Username" class="form-control" id="reg_username" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" placeholder="Enter Your Password" name="reg_password" class="form-control" id="reg_password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
  </form>
</div>